/*
  default
  accent
  canvas
  surface
  primary
  secondary
  material
  muted
  subtle
*/

:root {
  /* colors */
  --color-white: 255, 255, 255;
  --color-black: 0, 0, 0;
  --color-accent: 74, 59, 44;
  --color-positive: 67, 190, 116;
  --color-warning: 227, 175, 40;
  --color-negative: 206, 75, 75;

  /* text */
  --text-default: 27, 33, 78;

  /* background */
  --bg-canvas: 217, 217, 217;
  --bg-surface-accent: 217, 180, 143;
  --bg-surface-primary: 255, 255, 255;
  --bg-surface-secondary: 222, 231, 251;
  --bg-surface-tertiary: 241, 245, 253;

  /* border */
  --border-default: var(--color-accent);
}

:root[data-theme='dark'] {
  /* colors */
  --color-accent: 158, 187, 244;

  /* text */
  --text-default: 241, 245, 253;

  /* background */
  --bg-canvas: 13, 15, 17;
  --bg-surface-accent: 158, 187, 244;
  --bg-surface-primary: 25, 29, 35;
  --bg-surface-secondary: 38, 44, 54;
  --bg-surface-tertiary: 13, 15, 17;
  --bg-surface-quaternary: 50, 58, 71;
}
